<form method="post" action="piglatinize">
  <h2> Enter a Phrase </h2>
  <input type="text" name="phrase">
  <h2> Enter your First Name </h2>
  <input type="text" name="first_name">
  <button type="submit">Pig Latinize!</button>
</form>
